@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ededed;
  --animate-marquee: marquee 30s linear infinite;
  
  @keyframes marquee {
    to { transform: translateX(-50%); }
  }
}

/* RESET PENTING UNTUK STICKY SCROLL */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* JANGAN PAKAI overflow-x: hidden disini karena mematikan sticky */
  /* Gunakan ini sebagai gantinya jika ingin menyembunyikan scroll horizontal: */
  overflow-x: clip; 
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Jika menggunakan Lenis Scroll, pastikan ini ada */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}